<!DOCTYPE html>
<html>
<head>
    <title>Secure Area</title>
    <link rel="stylesheet" href="../css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Secure Area</h1>
    <div>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/secure">Secure Area</a>
    </div>
    <% if (message) { %>
        <p><%= JSON.stringify(message).replaceAll('"','')%></p>
    <% } %>
</body>
</html>
